Repository bootc-dev/bootc, pull requests merged in 2024-01, with the labels that each got.

#249 docs: Extend rpm-ostree relationship a bit
  docs/relationship.md
Labels: documentation

#252 docs: Add relationship-particles.md
  docs/relationship-particles.md
Labels: documentation

#256 upgrade: fix --apply when the desired deployment is already staged
  lib/src/cli.rs
Labels: ok-to-test

#257 cli: Drop `upgrade --touch-if-changed`
  lib/src/cli.rs
  manpages-md/bootc-upgrade.md
Labels: documentation, area/updates

#248 spec: Add cached update metadata
  lib/src/spec.rs
  lib/src/status.rs
Labels: area/updates

#260 install: Support `to-disk --via-loopback`
  lib/src/blockdev.rs
  lib/src/install.rs
  lib/src/privtests.rs
Labels: area/install

#261 docs: Fix FCOS description
  docs/index.md
Labels: documentation

#263 install: add --source-imgref
  docs/install.md
  lib/src/blockdev.rs
  lib/src/install.rs
Labels: documentation, area/install

#265 install: Drop support for old skopeo
  .github/workflows/ci.yml
  lib/src/install.rs
Labels: area/install

#272 install: Add `print-configuration`
  .github/workflows/ci.yml
  lib/src/cli.rs
  lib/src/install.rs
  lib/src/privtests.rs
  manpages-md/bootc-install-print-configuration.md
  manpages-md/bootc-install-to-disk.md
  manpages-md/bootc-install-to-filesystem.md
  manpages-md/bootc-install.md
Labels: documentation, area/install

#273 docs/usage: New file
  docs/usage.md
Labels: documentation

#275 install: Don't unshare if we have an external source
  lib/src/install.rs
Labels: area/install

#274 switch: Be idempotent
  docs/usage.md
  lib/src/cli.rs
  tests/kolainst/basic
Labels: documentation, area/install

#277 Fix a couple of clippy nits
  lib/src/deploy.rs
  lib/src/install.rs
Labels: area/install

#281 docs: Document `to-disk --via-loopback`
  docs/install.md
Labels: documentation

#278 install: Only switch to loopback after re-exec
  lib/src/blockdev.rs
  lib/src/install.rs
Labels: area/install

#283 Port to ostree-ext 0.13, cap-std 3
  lib/Cargo.toml
  lib/src/deploy.rs
  lib/src/install.rs
  lib/src/status.rs
Labels: area/install

#284 Fix install_t again
  lib/src/cli.rs
  lib/src/install.rs
  lib/src/lsm.rs
Labels: area/install

#288 install: Factor out configuration into new file
  lib/src/install.rs
  lib/src/install/config.rs
Labels: area/install

#289 install: Generalize `root-fs-type` into `install.filesystem.root.type`
  docs/install.md
  lib/src/install/baseline.rs
  lib/src/install/config.rs
  lib/src/privtests.rs
  manpages-md-extra/bootc-install-config.md
Labels: documentation

#290 install: Ensure we label `/` (and `/boot`)
  lib/src/install.rs
  tests/kolainst/install
Labels: area/install

#286 install: Optionally use host mounted `/var/lib/containers`
  .github/workflows/ci.yml
  docs/install.md
  lib/src/install.rs
  lib/src/podman.rs
Labels: documentation, area/install
