Repository bootc-dev/bootc, pull requests merged in 2024-02, with the labels that each got.

#293 install: Add BOOTC_SKIP_SELINUX_HOST_CHECK
  .github/workflows/ci.yml
  lib/src/install.rs
Labels: area/install

#295 Update bootc-fetch-apply-updates.timer with comments for RandomizedDe…
  systemd/bootc-fetch-apply-updates.timer
Labels: ok-to-test

#298 Drop status warning
  lib/src/install.rs
  lib/src/status.rs
  lib/src/utils.rs
Labels: area/install

#300 docs: fix typos
  cli/Cargo.toml
  docs/relationship-particles.md
  docs/relationship.md
  manpages-md/bootc-install-to-disk.md
  manpages-md/bootc-install-to-filesystem.md
Labels: documentation, needs-ok-to-test

#299 Add suggestion for `LABEL containers.bootc 1`
  docs/bootc-images.md
  lib/Cargo.toml
  lib/src/cli.rs
  lib/src/deploy.rs
  lib/src/journal.rs
  lib/src/lib.rs
  lib/src/metadata.rs
Labels: documentation, area/updates

#318 install: Drop setting immutable bit on physical /
  .github/workflows/ci.yml
  lib/src/install.rs
Labels: area/install

#302 Ensure that efivarfs is mounted in the container
  lib/src/install.rs
Labels: area/install, ok-to-test

#340 Make `--disable-selinux` work on hosts that have `selinux=0`
  lib/src/install.rs
  lib/src/lsm.rs
Labels: area/install

#341 install: Mount `/boot` readonly by default
  lib/src/install.rs
  lib/src/install/baseline.rs
Labels: area/install

#342 install: Drop unimplemented root_options
  lib/src/install.rs
  manpages-md/bootc-install-to-disk.md
  manpages-md/bootc-install-to-filesystem.md
Labels: documentation, area/install

#344 Add selinuxfs to be mounted in the container
  lib/src/install.rs
  lib/src/lsm.rs
Labels: area/install
