Repository bootc-dev/bootc, pull requests merged in 2024-06, with the labels that each got.

#577 install: Explicitly label .ostree.cfs
  lib/src/install.rs
Labels: area/install

#586 tests/integration: install libzstd-devel
  contrib/packaging/bootc.spec
  tests/integration/mockbuild.sh
Labels: area/install

#589 docs: Add HACKING.md
  HACKING.md
  README.md
Labels: documentation

#401 add `/usr/lib/bootc/kargs.d` support
  lib/src/cli.rs
  lib/src/deploy.rs
  lib/src/kargs.rs
  lib/src/lib.rs
Labels: enhancement, area/updates, area/linux-kernel

#604 install: Move warning after state and possible re-exec
  lib/src/install.rs
Labels: area/install

#606 install: Fix install config kargs + to-filesystem
  hack/Containerfile
  hack/install-test-configs/50-test-kargs.toml
  lib/src/install.rs
  lib/src/install/baseline.rs
  tests-integration/src/install.rs
Labels: area/install

#605 docs: Even more about how bootc is not a container at runtime
  README.md
  docs/src/building/bootc-runtime.md
  docs/src/filesystem.md
Labels: documentation

#609 cli/docs: Expand and clean up clap doctext a bit
  docs/src/man/bootc-container-lint.md
  docs/src/man/bootc-install-to-disk.md
  docs/src/man/bootc-install-to-existing-root.md
  docs/src/man/bootc-install-to-filesystem.md
  docs/src/man/bootc-install.md
  docs/src/man/bootc-switch.md
  lib/src/cli.rs
  lib/src/install.rs
Labels: area/install

#619 cli: Make sysroot lock automatically check root + setup mountns
  lib/src/cli.rs
  lib/src/install.rs
  lib/src/status.rs
Labels: area/install

#631 Doc kargs
  docs/book.toml
  docs/src/SUMMARY.md
  docs/src/building/kernel-arguments.md
Labels: documentation

#635 install: Clarify /boot (optional) and root mount spec
  docs/src/man/bootc-container-lint.md
  docs/src/man/bootc-container.md
  docs/src/man/bootc-edit.md
  docs/src/man/bootc-install-print-configuration.md
  docs/src/man/bootc-install-to-disk.md
  docs/src/man/bootc-install-to-existing-root.md
  docs/src/man/bootc-install-to-filesystem.md
  docs/src/man/bootc-install.md
  docs/src/man/bootc-rollback.md
  docs/src/man/bootc-status.md
  docs/src/man/bootc-switch.md
  docs/src/man/bootc-upgrade.md
  docs/src/man/bootc-usr-overlay.md
  docs/src/man/bootc.md
  lib/src/install.rs
Labels: area/install

#642 tree-wide: rustfmt with `group_imports = "StdExternalCrate"`
  lib/src/blockdev.rs
  lib/src/cli.rs
  lib/src/deploy.rs
  lib/src/docgen.rs
  lib/src/install.rs
  lib/src/kargs.rs
  lib/src/lsm.rs
  lib/src/status.rs
Labels: area/install

#647 install: Pick up kargs.d kernel arguments too
  hack/Containerfile
  hack/test-kargs/10-test.toml
  hack/test-kargs/20-test2.toml
  lib/src/install.rs
  lib/src/kargs.rs
  tests-integration/src/install.rs
Labels: area/install

#649 install: Only open / once
  lib/src/install.rs
Labels: area/install

#620 cli: Add a new bootc image subcommand
  lib/Cargo.toml
  lib/src/cli.rs
  lib/src/image.rs
  lib/src/lib.rs
  tests/booted/002-test-image-pushpull-upgrade.nu
Labels: area/install
