Repository bootc-dev/bootc, pull requests merged in 2024-07, with the labels that each got.

#658 Add HeliumOS to list of distributions using bootc
  README.md
Labels: documentation, control/skip-ci

#662 Rename HACKING -> CONTRIBUTING, add info about git + PRs
  CONTRIBUTING.md
  HACKING.md
  README.md
Labels: documentation

#655 install: Disable fsync() in repo when pulling && improved pull progress
  lib/src/cli.rs
  lib/src/deploy.rs
  lib/src/install.rs
Labels: area/install

#680 blockdev+install updates
  lib/src/blockdev.rs
  lib/src/bootloader.rs
  lib/src/install.rs
  lib/src/install/baseline.rs
Labels: area/install

#659 Retrieve bound images when staging new image
  Cargo.lock
  lib/Cargo.toml
  lib/src/boundimage.rs
  lib/src/deploy.rs
  lib/src/lib.rs
Labels: area/install

#688 install: Use sfdisk, not lsblk
  lib/src/blockdev.rs
  lib/src/bootloader.rs
  lib/src/install.rs
  lib/src/install/baseline.rs
Labels: area/install

#667 lib/bootloader: Write to PReP partition on ppc64le
  lib/src/bootloader.rs
  lib/src/install/baseline.rs
Labels: area/install

#665 install: Use zipl to install bootloader on s390x
  lib/src/bootloader.rs
  lib/src/install.rs
  lib/src/mount.rs
Labels: area/install

#693 install: Use some fs_utf8 bits
  lib/src/install.rs
Labels: area/install

#699 install: Use rustix instead of nix in one place
  lib/src/install.rs
Labels: area/install

#705 install: Support the s390x architecture
  lib/src/install.rs
  lib/src/install/baseline.rs
Labels: area/install

#707 install: Two prep changes for pulling bound images at install time
  lib/src/install.rs
Labels: area/install

#712 Bound install time
  lib/src/boundimage.rs
  lib/src/install.rs
Labels: area/install

#717 install: Ensure /etc/containers is writable
  lib/src/install.rs
Labels: area/install

#709 install: Warn if we're not installing to gpt
  lib/src/blockdev.rs
  lib/src/install.rs
Labels: area/install

#719 install: Fetch bound images from host's /var/lib/containers
  lib/src/boundimage.rs
  lib/src/install.rs
Labels: area/install

#726 install: Correctly set target imgref at pull time
  lib/src/cli.rs
  lib/src/deploy.rs
  lib/src/install.rs
Labels: area/install

#728 storage: Two prep changes
  lib/src/cli.rs
  lib/src/install.rs
  lib/src/store/mod.rs
Labels: area/install

#730 install: Allocate a global tmpdir
  lib/src/install.rs
Labels: area/install

#733 utils: Add a little CommandRunExt helper trait
  lib/src/install.rs
  lib/src/utils.rs
Labels: area/install

#737 install: Work around bootc-image-builder using /run/osbuild/containers
  lib/src/install.rs
  lib/src/install/osbuild.rs
  lib/src/podman.rs
Labels: area/install

#724 Introduce bootc-owned container store, use for bound images
  Makefile
  docs/src/experimental-logically-bound-images.md
  lib/src/boundimage.rs
  lib/src/cli.rs
  lib/src/deploy.rs
  lib/src/image.rs
  lib/src/imgstorage.rs
  lib/src/install.rs
  lib/src/lib.rs
  lib/src/podman.rs
  lib/src/store/mod.rs
  tests-integration/src/install.rs
  tests/booted/readonly/010-test-bootc-container-store.nu
  tests/booted/test-logically-bound.nu
Labels: area/install
