Repository bootc-dev/bootc, pull requests merged in 2024-03, with the labels that each got.

#371 docs: Switch to mdbook, rework
  .github/labeler.yml
  .github/workflows/docs.yml
  docs/.gitignore
  docs/Gemfile
  docs/book.toml
  docs/faq.md
  docs/index.md
  docs/src/SUMMARY.md
  docs/src/bootc-images.md
  docs/src/bootc-install.md
  docs/src/bootc.md
  docs/src/filesystem.md
  docs/src/installation.md
  docs/src/intro.md
  docs/src/man-md/bootc-fetch-apply-updates-service.md
  docs/src/man-md/bootc-fetch-apply-updates.service.md
  docs/src/man-md/bootc-install-config.md
  docs/src/man/bootc-edit.md
  docs/src/man/bootc-fetch-apply-updates-service.md
  docs/src/man/bootc-install-config.md
  docs/src/man/bootc-install-print-configuration.md
  docs/src/man/bootc-install-to-disk.md
  docs/src/man/bootc-install-to-filesystem.md
  docs/src/man/bootc-install.md
  docs/src/man/bootc-status.md
  docs/src/man/bootc-switch.md
  docs/src/man/bootc-upgrade.md
  docs/src/man/bootc-usr-overlay.md
  docs/src/man/bootc.md
  docs/src/offline-updates.md
  docs/src/related.md
  docs/src/relationship-oci-artifacts.md
  docs/src/relationship-particles.md
  docs/src/relationships.md
  docs/src/upgrades.md
  manpages-md/README.md
  xtask/src/xtask.rs
Labels: documentation

#373 test: add integration test
  .fmf/version
  .github/workflows/integration.yml
  plans/install-upgrade.fmf
  tests/integration/README.md
  tests/integration/files/auth.template
  tests/integration/files/rhel-9.template
  tests/integration/install-upgrade.fmf
  tests/integration/install-upgrade.sh
  tests/integration/mockbuild.sh
  tests/integration/playbooks/ansible.cfg
  tests/integration/playbooks/check-system.yaml
  tests/integration/playbooks/deploy-aws.yaml
  tests/integration/playbooks/install.yaml
  tests/integration/playbooks/remove.yaml
  tests/integration/playbooks/templates/ec2_run_instance.j2
  tests/integration/playbooks/upgrade.yaml
Labels: ok-to-test

#382 install: Add `to-existing-root`
  .github/workflows/ci.yml
  docs/src/bootc-install.md
  lib/src/cli.rs
  lib/src/install.rs
  tests/integration/playbooks/install.yaml
Labels: area/install

#384 install: Support gathering more info for host root (including LVM)
  docs/src/bootc-install.md
  lib/src/cli.rs
  lib/src/install.rs
  lib/src/kernel.rs
  lib/src/lib.rs
Labels: area/install

#390 Cleanup clippy lints
  lib/src/cli.rs
  lib/src/install.rs
  lib/src/install/baseline.rs
  xtask/src/xtask.rs
Labels: area/install

#393 install: Improve early output
  lib/src/install.rs
  lib/src/install/baseline.rs
Labels: area/install

#389 install: manually label {/etc/fstab,tmpfile.d/bootc-root-ssh.conf}
  lib/src/install.rs
  lib/src/install/osconfig.rs
Labels: area/install, ok-to-test

#397 Rework SELinux labeling more
  .github/workflows/ci.yml
  lib/src/cli.rs
  lib/src/install.rs
  lib/src/install/baseline.rs
  lib/src/install/osconfig.rs
  lib/src/lsm.rs
  lib/src/privtests.rs
Labels: area/install

#399 More image output cleanup
  lib/src/deploy.rs
  lib/src/install.rs
Labels: area/install

#402 docs: tweak install disk example
  docs/src/bootc-install.md
Labels: documentation

#405 lsm/install: Use csum(), not name() from SELinux policy
  lib/src/install.rs
  lib/src/lsm.rs
Labels: area/install

#407 osconfig: install root ssh keys to /var/roothome
  lib/src/install/osconfig.rs
Labels: area/install, triaged, reviewed/needs-rework

#411 Add more failure contexts for exec_in_host_mountns
  lib/src/install.rs
Labels: area/install

#412 install: Add some more debug/trace calls
  lib/src/cli.rs
  lib/src/install.rs
Labels: area/install

#413 Correctly populate container environment rootless status
  lib/src/containerenv.rs
  lib/src/install.rs
Labels: area/install

#414 Trace rootless
  lib/src/containerenv.rs
  lib/src/install.rs
Labels: area/install

#416 Add `#[derive(PartialEq, Eq))` for cli bits
  lib/src/cli.rs
  lib/src/install.rs
  lib/src/install/baseline.rs
Labels: area/install

#417 Add a systemd generator to fixup Anaconda's /etc/fstab
  Makefile
  contrib/packaging/bootc.spec
  lib/src/cli.rs
  lib/src/deploy.rs
  lib/src/generator.rs
  lib/src/lib.rs
  lib/src/systemglue/mod.rs
Labels: area/install

#420 install: Change no-SELinux -> SELinux to a warning && serialize to aleph
  .github/workflows/ci.yml
  lib/src/install.rs
  lib/src/lsm.rs
Labels: area/install

#425 Fix various accumulated clippy lints
  lib/build.rs
  lib/src/deploy.rs
  lib/src/install.rs
  lib/src/lsm.rs
Labels: area/install

#441 filesystem: Explain more about /etc and /var
  docs/src/building/guidance.md
  docs/src/filesystem.md
Labels: documentation
