Repository bootc-dev/bootc, pull requests merged in 2025-02, with the labels that each got.

#1068 Install config verity prep
  .packit.yaml
  Cargo.lock
  cli/Cargo.toml
  contrib/packaging/bootc.spec
  deny.toml
  hack/build.sh
  lib/Cargo.toml
  lib/src/cli.rs
  lib/src/install.rs
  lib/src/lints.rs
  ostree-ext/Cargo.toml
  ostree-ext/src/ostree_prepareroot.rs
  xtask/Cargo.toml
  xtask/src/xtask.rs
Labels: area/install

#1073 docs/filesystem: Flesh out `etc` a bit more
  docs/src/filesystem.md
Labels: documentation, control/skip-ci

#1091 reinstall: handle loginctl compatibility issues
  system-reinstall-bootc/src/users.rs
Labels: area/system-reinstall-bootc

#1092 reinstall: warn if no users with authorized ssh keys are found
  system-reinstall-bootc/src/main.rs
Labels: area/system-reinstall-bootc

#1105 reinstall: Ensure podman is installed
  Cargo.lock
  contrib/packaging/bootc.spec
  system-reinstall-bootc/Cargo.toml
  system-reinstall-bootc/src/main.rs
  system-reinstall-bootc/src/podman.rs
  utils/src/command.rs
  utils/src/tracing_util.rs
Labels: area/system-reinstall-bootc

#1108 A few misc prep patches
  Cargo.lock
  hack/provision-derived.sh
  lib/src/install.rs
  lib/src/lints.rs
  lib/src/utils.rs
  utils/Cargo.toml
  utils/src/lib.rs
Labels: area/install

#1119 reinstall: Fix the --user option in podman command
  system-reinstall-bootc/src/podman.rs
  utils/src/command.rs
Labels: area/system-reinstall-bootc

#1121 reinstall: Clarify that Podman is being installed automatically
  system-reinstall-bootc/src/podman.rs
Labels: area/system-reinstall-bootc

#1122 labeler: auto add system-reinstall-bootc label
  .github/labeler.yml
Labels: area/system-reinstall-bootc

#1123 reinstall: Reword single-user message
  system-reinstall-bootc/src/prompt.rs
Labels: area/system-reinstall-bootc

#1120 reinstall: Move the no users prompt
  system-reinstall-bootc/src/main.rs
  system-reinstall-bootc/src/prompt.rs
Labels: area/system-reinstall-bootc

#1133 reinstall: Support legacy images in system-reinstall-bootc
  system-reinstall-bootc/src/podman.rs
Labels: area/system-reinstall-bootc

#1145 storage: Drop duplicate SELinux section
  docs/src/filesystem-storage.md
Labels: documentation, control/skip-ci

#1146 Smarter ssh authorized key search for system-reinstall-bootc
  Cargo.lock
  system-reinstall-bootc/Cargo.toml
  system-reinstall-bootc/src/main.rs
  system-reinstall-bootc/src/podman.rs
  system-reinstall-bootc/src/prompt.rs
  system-reinstall-bootc/src/users.rs
Labels: area/system-reinstall-bootc

#1153 Reinstall ssh followup cleanup
  Cargo.lock
  system-reinstall-bootc/Cargo.toml
  system-reinstall-bootc/src/prompt.rs
  system-reinstall-bootc/src/users.rs
Labels: area/system-reinstall-bootc
