Repository bootc-dev/bootc, pull requests merged in 2025-06, with the labels that each got.

#1349 reinstall: Docs for cleanup script and mount points
  docs/src/bootc-install.md
Labels: documentation, control/skip-ci

#1354 docs: Add bootloaders.md
  docs/src/SUMMARY.md
  docs/src/bootloaders.md
Labels: documentation, control/skip-ci

#1355 reinstall: Only pull the image if it's not already present
  .github/workflows/ci.yml
  system-reinstall-bootc/src/main.rs
  system-reinstall-bootc/src/podman.rs
  tests-integration/src/system_reinstall.rs
Labels: area/system-reinstall-bootc

#1357 test: Add README.md in tmt folder for integration test local running
  tmt/README.md
Labels: documentation

#1363 kargs: Clarify a bit more
  docs/src/building/kernel-arguments.md
Labels: documentation, control/skip-ci

#1369 Fix Typos and Improve Formatting in Documentation
  docs/src/filesystem-sysroot.md
  docs/src/relationship-particles.md
Labels: documentation, control/skip-ci

#1372 Fix Typos in Documentation
  docs/src/building/guidance.md
  docs/src/building/users-and-groups.md
Labels: documentation, control/skip-ci

#1385 docs: Update generated
  docs/src/host-v1.schema.json
  docs/src/man/bootc-container-lint.md
  docs/src/man/bootc-container.md
  docs/src/man/bootc-edit.md
  docs/src/man/bootc-install-ensure-completion.md
  docs/src/man/bootc-install-finalize.md
  docs/src/man/bootc-install-print-configuration.md
  docs/src/man/bootc-install-to-disk.md
  docs/src/man/bootc-install-to-existing-root.md
  docs/src/man/bootc-install-to-filesystem.md
  docs/src/man/bootc-install.md
  docs/src/man/bootc-rollback.md
  docs/src/man/bootc-status.md
  docs/src/man/bootc-switch.md
  docs/src/man/bootc-upgrade.md
  docs/src/man/bootc-usr-overlay.md
  docs/src/man/bootc.md
  xtask/src/xtask.rs
Labels: documentation, control/skip-ci

#1368 README.md: Add details for Friday Zoom meeting
  GOVERNANCE.md
  README.md
Labels: documentation, control/skip-ci
