Repository bootc-dev/bootc, pull requests merged in 2025-07, with the labels that each got.

#1393 secrets: Expand on authfile
  docs/src/building/secrets.md
Labels: documentation, control/skip-ci

#1394 Rework utils and blockdev crates as -internals in prep for publishing
  Cargo.lock
  blockdev/Cargo.toml
  cli/Cargo.toml
  lib/Cargo.toml
  mount/Cargo.toml
  ostree-ext/Cargo.toml
  system-reinstall-bootc/Cargo.toml
  sysusers/Cargo.toml
  tmpfiles/Cargo.toml
  utils/Cargo.toml
Labels: area/system-reinstall-bootc

#1422 Release 1.5.1
  Cargo.lock
  docs/src/man/bootc-container-lint.md
  docs/src/man/bootc-container.md
  docs/src/man/bootc-edit.md
  docs/src/man/bootc-install-ensure-completion.md
  docs/src/man/bootc-install-finalize.md
  docs/src/man/bootc-install-print-configuration.md
  docs/src/man/bootc-install-to-disk.md
  docs/src/man/bootc-install-to-existing-root.md
  docs/src/man/bootc-install-to-filesystem.md
  docs/src/man/bootc-install.md
  docs/src/man/bootc-rollback.md
  docs/src/man/bootc-status.md
  docs/src/man/bootc-switch.md
  docs/src/man/bootc-upgrade.md
  docs/src/man/bootc-usr-overlay.md
  docs/src/man/bootc.md
  lib/Cargo.toml
Labels: documentation

#1470 docs: add documentation for root.transient-ro feature
  docs/src/filesystem.md
Labels: documentation, control/skip-ci
