Repository bootc-dev/bootc, pull requests merged in 2025-01, with the labels that each got.

#1005 docs/bootc-images: Refresh a bit
  docs/src/bootc-images.md
Labels: documentation, control/skip-ci

#1001 install: Never traverse mount points with `--wipe`
  lib/src/install.rs
  lib/src/lints.rs
  lib/src/utils.rs
Labels: area/install

#1011 install: Fix cleanup function to remove empty dirs too
  lib/src/install.rs
Labels: area/install

#1012 docs/relationships: add section about ostree
  docs/src/relationships.md
Labels: documentation, control/skip-ci

#1015 docs: Use absolute link for toplevel content
  docs/src/bootc-images.md
Labels: documentation, control/skip-ci

#961 Various updates for `--progress-fd`
  docs/src/SUMMARY.md
  docs/src/bootc-via-api.md
  docs/src/experimental-progress-fd.md
  docs/src/progress-v0.schema.json
  lib/src/cli.rs
  lib/src/deploy.rs
  lib/src/progress_jsonl.rs
  tests/booted/test-image-pushpull-upgrade.nu
  xtask/src/xtask.rs
Labels: documentation

#1020 Typo fixup for #961
  docs/src/experimental-progress-fd.md
  lib/src/progress_jsonl.rs
Labels: documentation

#1028 ostree-ext: surface libostree signature verification text
  lib/src/cli.rs
  lib/src/install.rs
  lib/src/utils.rs
  ostree-ext/src/cli.rs
  ostree-ext/src/container/store.rs
  ostree-ext/src/tar/import.rs
Labels: area/install

#1041 systemd: enable bootc-status-updated.target on startup
  Makefile
  systemd/bootc-status-updated.target
Labels: area/client

#1048 install/blockdev: Break cyclic build dependency
  lib/src/blockdev.rs
  lib/src/install/baseline.rs
  utils/src/command.rs
Labels: area/install

#1050 Split off a blockdev internal crate
  Cargo.lock
  Cargo.toml
  blockdev/Cargo.toml
  blockdev/src/blockdev.rs
  lib/Cargo.toml
  lib/src/bootloader.rs
  lib/src/install.rs
  lib/src/install/baseline.rs
  lib/src/lib.rs
Labels: area/install

#1066 docs/lbi: Mention not to configure globally
  docs/src/logically-bound-images.md
Labels: documentation, control/skip-ci

#1067 lints: Add description and `--list`
  docs/src/man/bootc-container-lint.md
  docs/src/man/bootc-install-to-disk.md
  docs/src/man/bootc-install-to-existing-root.md
  docs/src/man/bootc-install-to-filesystem.md
  docs/src/man/bootc-switch.md
  lib/Cargo.toml
  lib/src/cli.rs
  lib/src/lints.rs
Labels: documentation
