Repository bootc-dev/bootc, pull requests merged in 2025-03, with the labels that each got.

#1157 install: Add a generic `install finalize`
  Makefile
  docs/src/bootc-install.md
  lib/src/cli.rs
  lib/src/install.rs
  tests-integration/src/install.rs
Labels: documentation, area/install

#1164 reinstall: Pull podman image early
  system-reinstall-bootc/src/main.rs
  system-reinstall-bootc/src/podman.rs
Labels: area/system-reinstall-bootc

#1176 docs: Update generated
  docs/src/man/bootc-container-lint.md
  docs/src/man/bootc-container.md
  docs/src/man/bootc-edit.md
  docs/src/man/bootc-install-ensure-completion.md
  docs/src/man/bootc-install-finalize.md
  docs/src/man/bootc-install-print-configuration.md
  docs/src/man/bootc-install-to-disk.md
  docs/src/man/bootc-install-to-existing-root.md
  docs/src/man/bootc-install-to-filesystem.md
  docs/src/man/bootc-install.md
  docs/src/man/bootc-rollback.md
  docs/src/man/bootc-status.md
  docs/src/man/bootc-switch.md
  docs/src/man/bootc-upgrade.md
  docs/src/man/bootc-usr-overlay.md
  docs/src/man/bootc.md
Labels: documentation, control/skip-ci

#1183 Update links to new docs site
  README.md
  docs/_config.yml
  lib/src/lints.rs
Labels: documentation

#1186 docs: add footer with CNCF trademark notice
  .github/workflows/docs.yml
  README.md
  docs/book.toml
Labels: documentation, control/skip-ci

#1184 README.md: Add reference to CNCF Code of Conduct
  README.md
Labels: documentation, control/skip-ci

#1178 internals: Add new (experimental) `bootc internals fsck`
  docs/src/SUMMARY.md
  docs/src/experimental-fsck.md
  lib/src/cli.rs
  lib/src/fsck.rs
  lib/src/lib.rs
  tests/booted/readonly/015-test-fsck.nu
Labels: documentation

#1193 install: Do not clean boot directories on ostree systems
  lib/src/install.rs
Labels: area/install

#1191 docs/filesystem: Weaken stateoverlay wording and direct to alternatives
  docs/src/filesystem.md
Labels: documentation, control/skip-ci

#1207 reinstall: Add docs for system-reinstall-bootc
  docs/src/bootc-install.md
Labels: documentation, control/skip-ci

#1202 feat(rollback): add `--apply` flag
  docs/src/man/bootc-rollback.md
  lib/src/cli.rs
Labels: documentation, area/client

#1198 imgstorage: Set selinux labels for imgstorage
  lib/src/boundimage.rs
  lib/src/imgstorage.rs
  lib/src/install.rs
  lib/src/install/completion.rs
  lib/src/lsm.rs
  lib/src/store/mod.rs
  tests/booted/test-logically-bound-install.nu
Labels: area/install, area/selinux

#1212 docs: Fix broken link in reinstall docs
  docs/src/bootc-install.md
Labels: documentation, control/skip-ci

#1192 GOVERNANCE: Add Governance doc for CNCF onboarding
  GOVERNANCE.md
  SECURITY.md
Labels: area/cncf

#1173 man/bootc-rollback: add information about /etc
  lib/src/cli.rs
Labels: documentation, control/skip-ci

#935 Install with fsverity enabled + required
  .github/workflows/ci.yml
  Cargo.lock
  ci/Containerfile.install-fsverity
  lib/Cargo.toml
  lib/src/cli.rs
  lib/src/fsck.rs
  lib/src/install.rs
  lib/src/install/baseline.rs
  ostree-ext/Cargo.toml
  ostree-ext/src/container/store.rs
  ostree-ext/src/fsverity.rs
  ostree-ext/src/lib.rs
Labels: documentation, area/install, area/composefs

#1106 bootloader: Always pass full path to bootupd
  lib/src/bootloader.rs
  lib/src/install/baseline.rs
Labels: do-not-merge/work-in-progress, area/install

#1231 docs: install to-disk --via-loopback requires root
  docs/src/bootc-install.md
Labels: documentation, control/skip-ci

#1233 install: Avoid context-per-recursion
  lib/src/install.rs
Labels: area/install

#1232 docs/filesystem: Mention composefs.enabled = verity
  docs/src/filesystem.md
Labels: documentation, control/skip-ci, area/composefs

#1235 docs/filesystem: Reword /var a bit
  docs/src/filesystem.md
Labels: documentation, control/skip-ci

#1242 Update to rustix 1.0
  Cargo.lock
  Cargo.toml
  lib/src/mount.rs
  system-reinstall-bootc/src/users.rs
  utils/src/command.rs
Labels: area/system-reinstall-bootc

#1244 Add OpenSSF Best Practices badge
  MAINTAINERS.md
  README.md
Labels: documentation
