Repository bootc-dev/bootc, pull requests merged in 2025-05, with the labels that each got.

#1289 Add alongside-cleanup systemd service
  Makefile
  contrib/scripts/fedora-bootc-destructive-cleanup
  lib/src/cli.rs
  lib/src/install.rs
  system-reinstall-bootc/src/podman.rs
  systemd/bootc-destructive-cleanup.service
Labels: area/install, area/system-reinstall-bootc

#1294 install: Do a dynamic mount for /var/tmp
  lib/src/install.rs
Labels: area/install

#1297 reinstall: Pass RUST_LOG env var into bootc install container
  system-reinstall-bootc/src/podman.rs
Labels: area/system-reinstall-bootc

#1298 reinstall: Cleaner formatting of podman bootc install message
  system-reinstall-bootc/src/main.rs
  utils/src/command.rs
Labels: area/system-reinstall-bootc

#1307 docs: fix typos
  docs/src/bootc-install.md
  docs/src/filesystem.md
  lib/src/lsm.rs
Labels: documentation

#1313 reinstall: Only add --cleanup when bootc version >= 1.1.8
  system-reinstall-bootc/src/main.rs
  system-reinstall-bootc/src/podman.rs
Labels: area/system-reinstall-bootc

#1315 filesystem: Note initramfs reneneration is required for prepare-root
  docs/src/filesystem.md
Labels: documentation, control/skip-ci

#1299 Reinstall mount warning
  Cargo.lock
  mount/src/mount.rs
  system-reinstall-bootc/Cargo.toml
  system-reinstall-bootc/src/btrfs.rs
  system-reinstall-bootc/src/lvm.rs
  system-reinstall-bootc/src/main.rs
  system-reinstall-bootc/src/prompt.rs
Labels: area/system-reinstall-bootc

#1285 feat(status): display pinned deployments
  lib/src/fixtures/spec-booted-pinned.yaml
  lib/src/spec.rs
  lib/src/status.rs
Labels: enhancement, triaged, area/client, gain/medium

#1295 hack: Rework+cleanup container build
  .dockerignore
  .github/workflows/ci.yml
  hack/Containerfile
  hack/build.sh
Labels: triaged, area/ci, gain/low

#1325 Rewrite containers org links to bootc-dev org
  README.md
  blockdev/Cargo.toml
  cli/Cargo.toml
  contrib/packaging/bootc.spec
  docs/_config.yml
  docs/src/bootc-images.md
  docs/src/building/guidance.md
  docs/src/experimental-bootc-image.md
  docs/src/experimental-progress-fd.md
  docs/src/filesystem-sysroot.md
  docs/src/filesystem.md
  docs/src/logically-bound-images.md
  docs/src/relationship-particles.md
  docs/src/relationships.md
  lib/Cargo.toml
  lib/src/boundimage.rs
  lib/src/fsck.rs
  lib/src/imgstorage.rs
  lib/src/install.rs
  lib/src/lints.rs
  mount/Cargo.toml
  ostree-ext/README.md
  system-reinstall-bootc/Cargo.toml
  system-reinstall-bootc/src/podman.rs
  system-reinstall-bootc/src/prompt.rs
  utils/Cargo.toml
Labels: documentation, area/install, area/system-reinstall-bootc

#1326 README.md: Add versioning/semver standards
  README.md
Labels: documentation, control/skip-ci

#1334 README.md: Add link to CNCF slack
  README.md
Labels: documentation, control/skip-ci

#1339 ostree-ext: make OCI history reproducible
  Cargo.lock
  lib/src/install.rs
  lib/src/status.rs
  lib/src/store/ostree_container.rs
  ostree-ext/src/container/encapsulate.rs
  ostree-ext/src/container/store.rs
  ostree-ext/src/fixture.rs
  utils/Cargo.toml
  utils/src/lib.rs
  utils/src/timestamp.rs
Labels: area/install
