Repository bootc-dev/bootc, pull requests merged in 2025-04, with the labels that each got.

#1245 install: Error out when not enough disk space to pull image
  lib/src/deploy.rs
  lib/src/install.rs
Labels: area/install

#1255 reinstall: Use containers-storage transport
  system-reinstall-bootc/src/podman.rs
Labels: area/system-reinstall-bootc

#1256 install: Deprecate skip-fetch-check, replace with run-fetch-check
  docs/src/bootc-install.md
  docs/src/man/bootc-install-to-disk.md
  docs/src/man/bootc-install-to-existing-root.md
  docs/src/man/bootc-install-to-filesystem.md
  hack/lldb/deploy.sh
  lib/src/install.rs
  tests-integration/src/hostpriv.rs
  tests-integration/src/install.rs
Labels: documentation, area/install

#1264 Redeploy bug fix
  lib/src/install.rs
  lib/src/store/mod.rs
Labels: area/install

#1266 various: adapt to new composefs-rs fsverity API
  Cargo.lock
  deny.toml
  lib/src/cli.rs
  lib/src/fsck.rs
  ostree-ext/Cargo.toml
  ostree-ext/src/fsverity.rs
Labels: area/system-reinstall-bootc

#1268 Reinstall prompt tweaks
  Cargo.lock
  system-reinstall-bootc/Cargo.toml
  system-reinstall-bootc/src/main.rs
  system-reinstall-bootc/src/prompt.rs
Labels: area/system-reinstall-bootc

#1272 docs/filesystem: Explain a little bit more about fsverity
  docs/src/filesystem.md
Labels: documentation, control/skip-ci

#1288 Split mount code into separate helper crate
  Cargo.lock
  Cargo.toml
  lib/Cargo.toml
  lib/src/bootloader.rs
  lib/src/install.rs
  lib/src/install/baseline.rs
  lib/src/lib.rs
  mount/Cargo.toml
  mount/src/mount.rs
Labels: area/install
